<template name="index">
  <h2>index template</h2>
</template>

<template name="home">
{{#if currentUser}}
  <h2>home template</h2>
  <h3>Good Morning, {{ name }}!</h3>
  <button id="yoUser">yo me</button>
{{/if}}
</template>

<template name="admin">
  <h1>Admin</h1>
  <h3>Users table</h3>
  <table class="leaderboard table table-striped">
  <thead>
    <th>Username</th>
    <th>Data1</th>
    <th>YoUsername</th>
    <th>buddyEmail</th>
    <th>phone Number</th>
    <th>cAvatar</th>
    <th>wellness</th>
    <th>pastAvatars</th>
    <th>cAttitude</th>
    <th>avatarStage</th>
    <th>daily_yos</th>
    <th>property</th>


  </thead>

  {{#each players}}
    {{> player}}
  {{/each}}
</table>
</template>